main{
	background-color: #cccccc;
}
.content-box{
	padding: 10px;
	margin: 10px;
}
.content{
	height: 100%;
}
/* 
主要ブラウザのベンダープレフィックス
-moz-　　…… Firefox
-webkit-　…… Google Chrome、Safari
-o-　　　　…… Opera
-ms-　　　…… Internet Explorer 
*/


/* ーーーーーーーーーー chrome opera エリア ーーーーーーーーーー */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
	.mn-button{
		font-size: 28px;
		width: 100px;
		transform: rotate(90deg);
	    margin: 0;
	}
  .mn-out{
		width: 100px;
		font-size: 18px;
	}
  .tani1{
		writing-mode: vertical-rl;
		height: 40px;
		text-align: center; 
	}
	.tani2{
		transform: rotate(-90deg);
	}
}
/* ーーーーーーーーーーーー safari エリア ーーーーーーーーーーーー */
_::-webkit-full-page-media, _:future, :root 
	.mn-button{
    	font-size: 28px;
    	width: 100px;
    	transform: rotate(90deg);
    	margin: 0;
}
_::-webkit-full-page-media, _:future, :root 
	.mn-out{
		width: 100px;
		font-size: 18px;
}
_::-webkit-full-page-media, _:future, :root 
	.tani1{
		writing-mode: vertical-rl;
		transform: rotate(-90deg);  
		height: 40px;
		text-align: center; 
}
/* ーーーーーーーーーーーー Firefox エリア ーーーーーーーーーーーー */
@-moz-document url-prefix() {
	.mn-out{
		width: 40px;
		font-size: 18px;
	}
}
@-moz-document url-prefix() {
	.tani1{
		writing-mode: vertical-rl;
		height: 40px;
		text-align: center; 
	}
}
@-moz-document url-prefix() {
	.mn-btn-span{
	 	writing-mode: vertical-rl;
	 	transform: rotate(-90deg);  
	}
}
/* ーーーーーーーーーーーー Edge 1 エリア ーーーーーーーーーーーー */
@supports (-ms-ime-align: auto) {
	.mn-button{
		font-size: 28px;
		width: 100px;
		transform: rotate(-90deg);
	  	margin: 0;
	 }
}
@supports (-ms-ime-align: auto) {
	.mn-out{
		width: 100px;
		font-size: 18px;
	}
}
@supports (-ms-ime-align: auto) {
	.mn-inputwidth-edge{
		width: 150px;
	}
}

@supports (-ms-ime-align: auto) {
	.tani1{
		writing-mode: vertical-rl;
		height: 40px;
		text-align: center; 
	}
}
/* ーーーーーーーーーーーー IE 11 エリア ーーーーーーーーーーーー */
_:-ms-lang(x)::-ms-backdrop, 
	.mn-button{
		font-size: 28px;
		width: 100px;
		transform: rotate(-90deg);
	 	margin: 0;
}
_:-ms-lang(x)::-ms-backdrop, 
	.mn-out{
		width: 100px;
		font-size: 18px;
}

_:-ms-lang(x)::-ms-backdrop, 
	.mn-inputwidth-edge{
		width: 120px;
}

/* ーーーーーーーーーーーー 共通 エリア ーーーーーーーーーーーー */

.mn-jumbotron{
	height:100%;
	width: auto;
}
.mn-out{
	color: red;
}
.mn-subtitle{
	font-size: 28px;
}
small{
	font-size: 18px;
}
.mn-form-top{
	padding-top: 20px;
	background-color: rgba(233, 226, 240, 0.938);
	border-color: rgba(17, 233, 233, 0.938);
}
.mn-content-top{
	margin-top: 30px;
}

