/* 
主要ブラウザのベンダープレフィックス
-moz-　　…… Firefox
-webkit-　…… Google Chrome、Safari
-o-　　　　…… Opera
-ms-　　　…… Internet Explorer 
*/


/* ーーーーーーーーーー chrome opera エリア ーーーーーーーーーー */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  .tate {
    -webkit-writing-mode: vertical-lr;
  }
}
/* ーーーーーーーーーーーー safari エリア ーーーーーーーーーーーー */
_::-webkit-full-page-media, _:future, :root 
	.tate {
    writing-mode: vertical-lr;
}

/* safari */
_::-webkit-full-page-media, _:future, :root 
	.tate_safari {
    -webkit-text-orientation: sideways-right;
    margin-left: 30px;
}
/* ーーーーーーーーーーーー Firefox エリア ーーーーーーーーーーーー */
@-moz-document url-prefix() {
  .tate {
    writing-mode: vertical-lr;
  }
}
@-moz-document url-prefix() {
  .header-ran{
    margin-right: 30px;
  }
}
/* ーーーーーーーーーーーー Edge 1 エリア ーーーーーーーーーーーー */
/* Edge 1 */
@supports (-ms-ime-align: auto) {
	* {
      color: purple;
      writing-mode: vertical-lr;
    }
}
/* Edge 2 */
_:-ms-lang(x)::backdrop, 
	* {
        color: purple;
        writing-mode: vertical-lr;
}
/* ーーーーーーーーーーーー IE 11 エリア ーーーーーーーーーーーー */
_:-ms-lang(x)::-ms-backdrop, 
	* {
        color: gray;
        writing-mode: vertical-lr;
}



/* ーーーーーーーーーーーー 共通 エリア ーーーーーーーーーーーー */

.header {
  background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	height: 50px;
}
.footer {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.bg {
	/* 背景图垂直、水平均居中 */
	background-position: center center;
	/* 背景图不平铺 */
	background-repeat: no-repeat;
	/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
	background-attachment: fixed;  /*此条属性必须设置否则可能无效*/
	/* 让背景图基于容器大小伸缩 */
	background-size: cover;

}
.bg01 {
  background-image: url(../images/mbg1.jpg);
}
.bg02 {
  background-image: url(../images/mbg2.jpg);
}
.bg03 {
  background-image: url(../images/mbg3.jpg);
}
.bg04 {
  background-color: lightsteelblue;
}
.mn-fontsize{
	font-size:23px;
}

